services:
  db:
    image: postgres:15-alpine
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data # Persist data here

  backend:
    depends_on:
      - db
    environment:
      - DB_HOST=db

volumes:
  postgres_data: